.image-9-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 959.63px;
  object-fit: cover;
}
.hero-image-overlay-child {
  position: absolute;
  top: 25.94px;
  left: 0;
  background: linear-gradient(
    59.41deg,
    rgba(0, 0, 0, 0.46),
    rgba(0, 0, 0, 0.21) 52.43%,
    rgba(217, 217, 217, 0)
  );
  width: 100%;
  height: 748px;
}
.escape-to-a {
  position: absolute;
  top: 376px;
  left: 131px;
  line-height: 110%;
  display: flex;
  align-items: center;
  width: 651px;
  height: 171px;
}
.book-your-stay {
  position: relative;
  font-size: var(--segoe-ui-24-700-size);
  font-weight: 600;
  font-family: var(--body-regular);
  color: var(--white);
  text-align: left;
}
.book-your-stay-wrapper {
  cursor: pointer;
  border: 1px solid var(--white);
  padding: var(--padding-base) 22px;
  background-color: transparent;
  position: absolute;
  top: 602px;
  left: 131px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.hero-image-overlay {
  position: relative;
  width: 100%;
  height: 774px;
  overflow: hidden;
  flex-shrink: 0;
}
.experience-unparalleled-comfor {
  position: absolute;
  top: 97px;
  left: calc(50% - 596px);
  display: flex;
  align-items: center;
  width: 760px;
}
.indulge-in-the {
  position: absolute;
  top: 102px;
  left: calc(50% + 175px);
  font-size: var(--body-regular-size);
  line-height: 148.4%;
  font-family: var(--body-regular);
  display: inline-block;
  width: 414px;
}
.experience-unparalleled-comfor-parent {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(39, 39, 39, 0.5);
  width: 100%;
  height: 430px;
  overflow: hidden;
}
.homepage,
.homepage-inner {
  position: relative;
  overflow: hidden;
}
.homepage-inner {
  width: 100%;
  height: 430px;
  flex-shrink: 0;
  background-image: url(/public/frame-38@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--h2-size);
  color: var(--creme);
}
.homepage {
  background-color: var(--white);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 52px;
  text-align: left;
  font-size: 70px;
  color: var(--white);
  font-family: var(--h2);
}
